.upModel{
    transition: 1s;
    opacity: 1;
}
.for_centr{
    max-width: 1500px;
    margin: 0 auto;

}
.nameModel{
    text-align: center;
}

.mainPicture{
    transition: 1s;
    margin-top: 38px;
    margin-left: 40px;
    position: relative;
    overflow: hidden;
    width: 600px;
    height: 800px;
    img {
        transition: 1s;
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 600px;
        height: 800px;
        object-fit: cover;
    }
}
.descriptionModel{
    transition: 1s;
    margin-left: 40px;
    margin-top: 35px;
    margin-bottom: 25px;
    div{
        font-size: 16px;
        margin-bottom:5px ;
        width: 260px;
        display: flex;
        justify-content: space-between;
        height: 40px;

    }
    .followersInst{
        height: 60px;
    }
    .states{
        border-top: 1px slategray solid;
        flex-direction: column;
        margin-bottom: 20px;
        width: 450px;
        height: auto;
        .state{
            margin-bottom: 9px;
            text-align: center;
        }
    }
}

.collectionPictures{
    .contPic{
        position: relative;
        overflow: hidden;
        width: 110px;
        height: 110px;
        margin: 5px;
        img{
            cursor: pointer;
            transition: 1s;
            position: absolute;
            z-index: 1;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 110px;
            height: 110px;
            object-fit: cover;
            &:hover{
                transition: 1s;
                opacity: 0.7;
            }
        }
    }
}

.request{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    a{
        color: black;
        text-decoration: none;
        padding: 5px 10px;
        border: 1px black solid;
        transition: 1s;
        font-size: 18px;

        &:hover{
            transition: 1s;
            border:1px lightslategrey solid;
        }
    }
}
// широкий экран
@media screen and (max-width: 1280px){
    .mainPicture{
        transition: 1s;
        margin-left: 30px;
        width: 500px;
        height: 700px;
        img {
            transition: 1s;
            width: 500px;
            height: 700px;

        }
    }
}

// мой экран
@media screen and (max-width: 1057px){
    .mainPicture{
        margin-left: 30px;
        width: 350px;
        height: 550px;
        transition: 1s;
        img {
            transition: 1s;
            width: 400px;
            height: 600px;

        }
    }
    .descriptionModel {
        .states {
            width: 350px;
        }
    }
}

@media screen and (max-width: 993px) {
    .collectionPictures {
        .contPic {
            width: 90px;
            height: 90px;
            margin: 5px;

            img {

                width: 90px;
                height: 90px;

            }
        }

    }
}

@media screen and (max-width: 871px) {
    .collectionPictures {
        .contPic {
            width: 70px;
            height: 70px;
            margin: 5px;

            img {

                width: 70px;
                height: 70px;

            }
        }

    }
}

@media screen and (max-width: 767px){
    .mainPicture{
        margin: 20px auto 10px auto;
        width: 600px;
        height: 800px;
        transition: 1s;
        img {
            transition: 1s;
            width: 600px;
            height: 800px;

        }
    }
    .descriptionModel{
        transition: 1s;
        margin-left: 0;
        margin-top: 35px;
        margin-bottom: 25px;
        div{
          margin: 0 auto 5px auto;
        }
    }
    .collectionPictures{
        .forFloat{
            float: right;
            div{
                margin: 0 auto 5px auto;
            }
            .contPic {
                width: 90px;
                height: 90px;
            }

                img {

                    width: 90px;
                    height: 90px;

                }
        }
    }
}

@media screen and (max-width: 700px) {
    .mainPicture {
        margin: 20px auto 10px auto;
        width: 400px;
        height: 600px;
        transition: 1s;

        img {
            transition: 1s;
            width: 400px;
            height: 600px;

        }
    }
}

@media screen and (max-width: 500px) {
    .mainPicture {
        margin: 20px auto 10px auto;
        width: 250px;
        height: 400px;
        transition: 1s;

        img {
            transition: 1s;
            width: 250px;
            height: 400px;

        }
    }
    .descriptionModel {
        .states {
            width: 290px;
        }
    }
}

@media screen and (max-width: 340px) {
    .iPhone5 {
        padding-left: 3px;
    }
    .descriptionModel {
        .states {
            width: 250px;
        }
    }

}




