html {
  height: 100%;
}

body {
  font-family: 'Oranienbaum', sans-serif;
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

header {
  position: absolute;
  z-index: 1;
  -webkit-transition: 1s;
  transition: 1s;
  width: 100%;
  height: 100px;
  background: whitesmoke;
  margin-top: 0;
}

header div {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  margin: 0 20px 0 20px;
}

header h3 {
  margin-top: 30px;
}

header h3 a {
  color: black;
  -webkit-transition: 1s;
  transition: 1s;
}

header h3 a:hover {
  color: lightslategrey;
  -webkit-transition: 1s;
  transition: 1s;
  text-decoration: none;
  text-shadow: 7px 5px 7px silver;
}

header p {
  margin-top: 32px;
  margin-left: 15px;
  font-size: 17px;
}

header ul {
  margin: 35px 0 30px 0;
}

header ul a {
  font-size: 14px;
  font-weight: bold;
}

header li {
  list-style-type: none;
}

header li a {
  color: black;
  -webkit-transition: 1s;
  transition: 1s;
}

header li a:hover {
  color: lightslategrey;
  -webkit-transition: 1s;
  transition: 1s;
  text-decoration: none;
  text-shadow: 7px 5px 7px silver;
}

header .menuPC {
  display: inline-block;
  font-size: 15px;
  margin: 0 10px 0 10px;
}

header .forMenuPhoneSlip {
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0;
  display: none;
}

header #buttonOpenMenu {
  display: none;
}

header .nonOpacity {
  display: none;
}

.wra {
  display: -webkit-box;
  display: flex;
  margin: 100px 0 0 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  height: 100%;
}

#center {
  z-index: 1;
  -webkit-box-flex: 1;
          flex-grow: 1;
}

footer {
  height: auto;
  background: lightslategrey;
}

footer .firstBlock {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
}

footer .firstBlock i {
  font-size: 18px;
  margin-top: 9px;
  color: #bbdaff;
}

footer .firstBlock p {
  margin: 5px 0 0 0;
  font-size: 18px;
  color: #bbdaff;
}

footer .secondBlock {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
}

footer .secondBlock div {
  width: 55px;
  height: 55px;
  text-align: center;
}

footer .secondBlock div a {
  color: #23272b;
}

footer .secondBlock div i {
  margin-top: 20px;
  font-size: 27px;
  -webkit-transition: 1s;
  transition: 1s;
}

footer .secondBlock div .tel:hover {
  -webkit-transition: 1s;
  transition: 1s;
  font-size: 28px;
  color: deepskyblue;
  text-shadow: 0px 4px 2px black;
}

footer .secondBlock div .inst:hover {
  -webkit-transition: 1s;
  transition: 1s;
  font-size: 28px;
  color: #ff3d4a;
  text-shadow: 0px 4px 2px black;
}

footer .secondBlock div .vk:hover {
  -webkit-transition: 1s;
  transition: 1s;
  font-size: 28px;
  color: #3030ff;
  text-shadow: 0px 4px 2px black;
}

footer .secondBlock div .wats:hover {
  -webkit-transition: 1s;
  transition: 1s;
  font-size: 28px;
  color: #2dc130;
  text-shadow: 0px 4px 2px black;
}

footer .threeBlock {
  text-align: center;
  margin-top: 5px;
}

@media screen and (max-width: 1100px) {
  header ul a {
    font-size: 10px;
  }

  header p {
    margin-top: 34px;
    font-size: 13px;
  }

  header .menuPC {
    font-size: 12px;
  }
}

@media screen and (max-width: 1080px) {
  header h3 {
    margin-top: 36px;
    font-size: 18px;
  }

  header ul a {
    font-size: 9px;
  }

  header p {
    margin-top: 36px;
    font-size: 12px;
  }

  header .menuPC {
    font-size: 11px;
    margin: 0 5px 0 5px;
  }
}

@media screen and (max-width: 877px) {
  header p {
    display: none;
  }

  header .menuPC {
    display: none;
  }

  header #buttonOpenMenu {
    cursor: pointer;
    margin-top: 36px;
    display: block;
  }

  header .nonOpacity {
    display: block;
    -webkit-transition: 1s;
    transition: 1s;
    opacity: 1;
  }

  header .nonOpacity p {
    display: block;
    font-size: 20px;
    margin: 0;
  }

  header .nonOpacity ul {
    margin: 5px 0 0 0;
    padding-left: 20px;
  }

  header .nonOpacity ul a {
    font-size: 14px;
  }

  header .nonOpacity li {
    margin: 7px 0 7px 0;
  }
}

@media screen and (max-width: 877px) and (max-width: 360px) {
  footer .firstBlock i {
    font-size: 15px;
  }

  footer .firstBlock p {
    font-size: 15px;
  }
}

@media screen and (max-width: 877px) {
  .HeaderPhone {
    z-index: 5;
    -webkit-transition: 1s;
    transition: 1s;
    height: 300px;
  }

  .forMenuPhoneOpacity {
    opacity: 0;
    display: block;
    -webkit-transition: 1s;
    transition: 1s;
  }
}

.bodyAdmin {
  background: silver;
  height: 100%;
  width: 100%;
}

.bodyAdmin .log {
  margin-top: 150px;
}

.navMA li {
  margin: 10px;
}

.navMA a {
  padding: 0;
}

.formModels .inf {
  border-bottom: 1px black solid;
  margin: 10px;
  width: 250px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.formModels .allPhoto {
  border-bottom: 1px black solid;
  margin: 10px;
  width: 400px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.formModels .allPhoto label {
  padding: 5px;
}

#albumA {
  position: fixed;
  z-index: 2;
  top: 20px;
  right: 20px;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  -webkit-transition: 1s;
  transition: 1s;
}

#albumA:hover {
  color: #4f424c;
  -webkit-transition: 1s;
  transition: 1s;
}

@media screen and (max-width: 600px) {
  .formModels div {
    margin: 5px;
    width: 300px;
  }
}

@media screen and (max-width: 450px) {
  .formModels div {
    margin: 0;
    width: 200px;
  }
}

.opacityBec {
  opacity: 0;
}

.opacityBecNon {
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
}

.font_page {
  z-index: 1;
  height: 100%;
  background: url("/public/images/bianca-balti-byanka-balti-1895.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  -webkit-box-align: center;
          align-items: center;
}

.font_page div {
  text-align: center;
  position: relative;
  top: 180px;
  color: white;
  font-size: 3rem;
}

.font_page div .font_page_two {
  font-size: 5rem;
}

.downBlock {
  margin-top: 30px;
  opacity: 0.5;
}

.upBlock {
  opacity: 1;
  margin-top: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.title_models {
  text-align: center;
}

.cont_for_models {
  -webkit-transition: 1s;
  transition: 1s;
  margin-bottom: 15px;
  text-align: center;
}

.cont_for_models .link_model {
  text-decoration: none;
  color: black;
  -webkit-transition: 1s;
  transition: 1s;
}

.cont_for_models .link_model:hover {
  color: lightslategrey;
  -webkit-transition: 1s;
  transition: 1s;
  text-decoration: none;
  text-shadow: 7px 5px 7px silver;
}

.cont_for_model {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 300px;
  margin: 5px auto;
}

.cont_for_model:hover img {
  opacity: 0.5;
  -webkit-transition: 1s;
  transition: 1s;
}

.cont_for_model:hover .info_model {
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
  color: white;
}

.cont_for_model .info_model {
  -webkit-transition: 1s;
  transition: 1s;
  color: black;
  width: 300px;
  height: 300px;
  opacity: 0;
  position: absolute;
  z-index: 2;
}

.cont_for_model .info_model .inf_about {
  margin-top: 20px;
  font-size: 17px;
}

.cont_for_model img {
  -webkit-transition: 1s;
  transition: 1s;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 994px) {
  .cont_for_model {
    position: relative;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin: 5px auto;
  }

  .cont_for_model:hover img {
    opacity: 0.5;
    -webkit-transition: 1s;
    transition: 1s;
  }

  .cont_for_model:hover .info_model {
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 1;
    -webkit-transition: 1s;
    transition: 1s;
    color: white;
  }

  .cont_for_model .info_model {
    -webkit-transition: 1s;
    transition: 1s;
    color: black;
    width: 200px;
    height: 200px;
    opacity: 0;
    position: absolute;
    z-index: 2;
  }

  .cont_for_model img {
    -webkit-transition: 1s;
    transition: 1s;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media screen and (max-width: 769px) {
  .cont_for_model {
    width: 150px;
    height: 150px;
  }

  .cont_for_model .info_model {
    width: 150px;
    height: 150px;
  }

  .cont_for_model .info_model .inf_about {
    font-size: 1.3rem;
    margin-top: 5px;
  }

  .cont_for_model img {
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 576px) {
  .cont_for_model {
    width: 130px;
    height: 130px;
  }

  .cont_for_model .info_model {
    width: 130px;
    height: 130px;
  }

  .cont_for_model .info_model .inf_about {
    font-size: 1.3rem;
    margin-top: 5px;
  }

  .cont_for_model img {
    width: 130px;
    height: 130px;
  }
}

@media screen and (max-width: 468px) {
  .cont_for_model {
    width: 100px;
    height: 100px;
  }

  .cont_for_model .info_model {
    width: 100px;
    height: 100px;
  }

  .cont_for_model .info_model .inf_about {
    font-size: 1.1rem;
  }

  .cont_for_model img {
    width: 100px;
    height: 100px;
  }
}

@media screen and (max-width: 375px) {
  .cont_for_model {
    width: 80px;
    height: 80px;
  }

  .cont_for_model .info_model {
    width: 80px;
    height: 80px;
  }

  .cont_for_model .info_model .inf_about {
    font-size: 0.4rem;
    margin-top: 5px;
  }

  .cont_for_model img {
    width: 80px;
    height: 80px;
  }
}

@media screen and (max-width: 321px) {
  .cont_for_model {
    width: 65px;
    height: 65px;
  }

  .cont_for_model .info_model {
    width: 65px;
    height: 65px;
  }

  .cont_for_model .info_model .inf_about {
    font-size: 0.4rem;
    margin-top: 5px;
  }

  .cont_for_model img {
    width: 65px;
    height: 65px;
  }
}

.del {
  color: black;
  font-size: 1.5rem;
  position: relative;
  right: 7px;
  text-decoration: none;
  -webkit-transition: 1s;
  transition: 1s;
}

.del:hover {
  color: #4f424c;
  -webkit-transition: 1s;
  transition: 1s;
}

.back {
  color: black;
  font-size: 2rem;
  position: fixed;
  top: 10px;
  left: 10px;
  text-decoration: none;
  -webkit-transition: 1s;
  transition: 1s;
}

.back:hover {
  color: #4f424c;
  -webkit-transition: 1s;
  transition: 1s;
}

#sumModels {
  position: fixed;
  font-size: 2rem;
  top: 35px;
  left: 10px;
}

.error {
  border: 1px red solid;
}

.answerCountry {
  position: fixed;
  background: white;
  border: 1px red solid;
  border-radius: 5px;
  text-align: center;
  z-index: 4;
  margin-top: 75px;
}

.answerCity {
  position: fixed;
  background: white;
  border: 1px red solid;
  border-radius: 5px;
  text-align: center;
  z-index: 4;
  margin-top: 80px;
}

.answerHours {
  position: fixed;
  background: white;
  border: 1px red solid;
  border-radius: 5px;
  text-align: center;
  z-index: 4;
  margin-top: 0;
}

.answerBudget {
  position: fixed;
  background: white;
  border: 1px red solid;
  border-radius: 5px;
  text-align: center;
  z-index: 4;
  margin-top: 0;
}

.disNonWin {
  -webkit-box-pack: center;
          justify-content: center;
  height: 0;
  width: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: 2;
  display: none;
  -webkit-transition: 1s;
  transition: 1s;
}

.disNonWin a {
  display: none;
}

.disOpeWin {
  -webkit-box-pack: center;
          justify-content: center;
  height: 600px;
  width: 400px;
  position: fixed;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  background-color: silver;
  border: 1px black solid;
  border-radius: 2px;
  opacity: 1;
  z-index: 2;
  display: -webkit-box;
  display: flex;
  -webkit-transition: 1s;
  transition: 1s;
}

.disOpeWin .closeServer {
  position: absolute;
  z-index: 2;
  background: white;
  border-radius: 15px;
  padding: 2px;
  right: -5px;
  top: -5px;
  font-size: 21px;
  color: black;
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.2);
}

.disOpeWin form {
  margin: 10px auto;
}

.disOpeWin form div {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  margin-bottom: 10px;
}

.servDown {
  margin-top: 30px;
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0.5;
}

.servUp {
  margin-top: 0;
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 1;
}

.serv {
  margin: 20px auto;
}

.serv h1 {
  text-align: center;
  margin-bottom: 40px;
}

.serv p {
  font-size: 1.8rem;
  line-height: 2;
}

.serv .ofer_inf {
  margin-bottom: 2.5rem;
  -webkit-box-align: center;
          align-items: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
}

.serv .ofer_inf a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  -webkit-transition: 1s;
  transition: 1s;
}

.serv .ofer_inf a:hover {
  pointer-events: fill;
  -webkit-transition: 1s;
  transition: 1s;
  color: lightslategrey;
}

.serv .ofer_inf button {
  margin-top: 20px;
  font-size: 17px;
  padding: 10px 20px;
  color: white;
  background-color: lightslategrey;
  border: 1px black solid;
  border-radius: 5px;
  -webkit-transition: 1s;
  transition: 1s;
}

.serv .ofer_inf button:hover {
  background-color: #23272b;
  color: silver;
  -webkit-transition: 1s;
  transition: 1s;
}

@media screen and (max-width: 450px) {
  .disOpeWin {
    height: 550px;
    width: 300px;
  }
}

@media screen and (max-height: 500px) {
  .font_page div {
    top: 50px;
  }

  .disOpeWin {
    overflow: hidden;
  }
}

.noneCloseImg {
  display: none;
}

.contForImg {
  -webkit-transition: 1s;
  transition: 1s;
  position: fixed;
  z-index: 6;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 390px;
  height: 530px;
  background-color: silver;
  border-radius: 5px;
}

.contForImg #imgWindow {
  opacity: 1;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 360px;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.contForImg .closeImg {
  position: absolute;
  z-index: 2;
  background: white;
  border-radius: 15px;
  padding: 2px;
  right: -5px;
  top: -5px;
  font-size: 21px;
  color: black;
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.2);
}

.contForImg #backImg {
  position: absolute;
  margin-top: 10px;
  z-index: 2;
  height: 100%;
  width: 40%;
}

.contForImg #backImg i {
  position: absolute;
  top: 50%;
  margin-left: 40px;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
  background: white;
  border-radius: 15px;
  padding: 2px;
  font-size: 21px;
  color: black;
}

.contForImg #backImg:hover i {
  opacity: 1;
  background: white;
  border-radius: 15px;
  padding: 2px;
  font-size: 21px;
  color: black;
}

.contForImg #nextImg {
  position: absolute;
  margin-top: 10px;
  z-index: 2;
  height: 100%;
  width: 40%;
  right: 0;
}

.contForImg #nextImg i {
  position: absolute;
  top: 50%;
  margin-left: 90px;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
  background: white;
  border-radius: 15px;
  padding: 2px;
  font-size: 21px;
  color: black;
}

.contForImg #nextImg:hover i {
  opacity: 1;
  background: white;
  border-radius: 15px;
  padding: 2px;
  font-size: 21px;
  color: black;
}

@media screen and (max-width: 376px) {
  .contForImg {
    width: 300px;
    height: 450px;
  }

  .contForImg #imgWindow {
    width: 270px;
    height: 420px;
  }

  .contForImg #nextImg i {
    margin-left: 60px;
  }
}

@media screen and (max-height: 500px) {
  .contForImg {
    width: 230px;
    height: 310px;
  }

  .contForImg #imgWindow {
    width: 200px;
    height: 290px;
  }

  .contForImg #nextImg i {
    margin-left: 30px;
  }
}

.contDown {
  margin-top: 30px;
  opacity: 0;
}

.contUp {
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
}

.contact {
  margin-bottom: 20px;
}

.contact .tel {
  text-align: center;
  margin-top: 70px;
}

.contact .tel .TableOfContents {
  font-size: 35px;
}

.contact .tel .TableOfContentsTwo {
  font-size: 20px;
}

.contact .tel .telInto {
  font-size: 35px;
}

.contact .soc {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
}

.contact .soc div {
  margin: 10px;
}

.contact .soc i {
  font-size: 30px;
  margin-top: 9px;
  color: black;
  -webkit-transition: 1s;
  transition: 1s;
}

.contact .soc .tel:hover {
  -webkit-transition: 1s;
  transition: 1s;
  font-size: 28px;
  color: deepskyblue;
  text-shadow: 0px 4px 2px black;
}

.contact .soc .inst:hover {
  -webkit-transition: 1s;
  transition: 1s;
  font-size: 28px;
  color: #ff3d4a;
  text-shadow: 0px 4px 2px black;
}

.contact .soc .vk:hover {
  -webkit-transition: 1s;
  transition: 1s;
  font-size: 28px;
  color: #3030ff;
  text-shadow: 0px 4px 2px black;
}

.contact .soc .wats:hover {
  -webkit-transition: 1s;
  transition: 1s;
  font-size: 28px;
  color: #2dc130;
  text-shadow: 0px 4px 2px black;
}

.aboutDown {
  margin-top: 50px;
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0.5;
}

.aboutUP {
  margin-top: 30px;
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 1;
}

.about h1 {
  text-align: center;
  margin-bottom: 40px;
}

.about p {
  font-size: 1.8rem;
  line-height: 2;
}

.vacancy .vacanc {
  margin-top: 60px;
}

.vacancy div {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
}

.vacancy div a {
  font-size: 1.8rem;
  color: black;
  margin: 20px;
  text-decoration: none;
  -webkit-transition: 1s;
  transition: 1s;
}

.vacancy div a:hover {
  color: lightslategrey;
  -webkit-transition: 1s;
  transition: 1s;
  text-shadow: 7px 5px 7px silver;
}

@media screen and (max-width: 770px) {
  .vacancy div {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
}

.upModel {
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 1;
}

.for_centr {
  max-width: 1500px;
  margin: 0 auto;
}

.nameModel {
  text-align: center;
}

.mainPicture {
  -webkit-transition: 1s;
  transition: 1s;
  margin-top: 38px;
  margin-left: 40px;
  position: relative;
  overflow: hidden;
  width: 600px;
  height: 800px;
}

.mainPicture img {
  -webkit-transition: 1s;
  transition: 1s;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 600px;
  height: 800px;
  -o-object-fit: cover;
     object-fit: cover;
}

.descriptionModel {
  -webkit-transition: 1s;
  transition: 1s;
  margin-left: 40px;
  margin-top: 35px;
  margin-bottom: 25px;
}

.descriptionModel div {
  font-size: 16px;
  margin-bottom: 5px;
  width: 260px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  height: 40px;
}

.descriptionModel .followersInst {
  height: 60px;
}

.descriptionModel .states {
  border-top: 1px slategray solid;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  margin-bottom: 20px;
  width: 450px;
  height: auto;
}

.descriptionModel .states .state {
  margin-bottom: 9px;
  text-align: center;
}

.collectionPictures .contPic {
  position: relative;
  overflow: hidden;
  width: 110px;
  height: 110px;
  margin: 5px;
}

.collectionPictures .contPic img {
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 110px;
  height: 110px;
  -o-object-fit: cover;
     object-fit: cover;
}

.collectionPictures .contPic img:hover {
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0.7;
}

.request {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.request a {
  color: black;
  text-decoration: none;
  padding: 5px 10px;
  border: 1px black solid;
  -webkit-transition: 1s;
  transition: 1s;
  font-size: 18px;
}

.request a:hover {
  -webkit-transition: 1s;
  transition: 1s;
  border: 1px lightslategrey solid;
}

@media screen and (max-width: 1280px) {
  .mainPicture {
    -webkit-transition: 1s;
    transition: 1s;
    margin-left: 30px;
    width: 500px;
    height: 700px;
  }

  .mainPicture img {
    -webkit-transition: 1s;
    transition: 1s;
    width: 500px;
    height: 700px;
  }
}

@media screen and (max-width: 1057px) {
  .mainPicture {
    margin-left: 30px;
    width: 350px;
    height: 550px;
    -webkit-transition: 1s;
    transition: 1s;
  }

  .mainPicture img {
    -webkit-transition: 1s;
    transition: 1s;
    width: 400px;
    height: 600px;
  }

  .descriptionModel .states {
    width: 350px;
  }
}

@media screen and (max-width: 993px) {
  .collectionPictures .contPic {
    width: 90px;
    height: 90px;
    margin: 5px;
  }

  .collectionPictures .contPic img {
    width: 90px;
    height: 90px;
  }
}

@media screen and (max-width: 871px) {
  .collectionPictures .contPic {
    width: 70px;
    height: 70px;
    margin: 5px;
  }

  .collectionPictures .contPic img {
    width: 70px;
    height: 70px;
  }
}

@media screen and (max-width: 767px) {
  .mainPicture {
    margin: 20px auto 10px auto;
    width: 600px;
    height: 800px;
    -webkit-transition: 1s;
    transition: 1s;
  }

  .mainPicture img {
    -webkit-transition: 1s;
    transition: 1s;
    width: 600px;
    height: 800px;
  }

  .descriptionModel {
    -webkit-transition: 1s;
    transition: 1s;
    margin-left: 0;
    margin-top: 35px;
    margin-bottom: 25px;
  }

  .descriptionModel div {
    margin: 0 auto 5px auto;
  }

  .collectionPictures .forFloat {
    float: right;
  }

  .collectionPictures .forFloat div {
    margin: 0 auto 5px auto;
  }

  .collectionPictures .forFloat .contPic {
    width: 90px;
    height: 90px;
  }

  .collectionPictures .forFloat img {
    width: 90px;
    height: 90px;
  }
}

@media screen and (max-width: 700px) {
  .mainPicture {
    margin: 20px auto 10px auto;
    width: 400px;
    height: 600px;
    -webkit-transition: 1s;
    transition: 1s;
  }

  .mainPicture img {
    -webkit-transition: 1s;
    transition: 1s;
    width: 400px;
    height: 600px;
  }
}

@media screen and (max-width: 500px) {
  .mainPicture {
    margin: 20px auto 10px auto;
    width: 250px;
    height: 400px;
    -webkit-transition: 1s;
    transition: 1s;
  }

  .mainPicture img {
    -webkit-transition: 1s;
    transition: 1s;
    width: 250px;
    height: 400px;
  }

  .descriptionModel .states {
    width: 290px;
  }
}

@media screen and (max-width: 340px) {
  .iPhone5 {
    padding-left: 3px;
  }

  .descriptionModel .states {
    width: 250px;
  }
}

.price h2 {
  text-align: center;
}

